include var.js
mixin divx(x)
	-for(let i = 0; i <= 5; i++)
		div.ahmed= `${x} wow ${i}`
doctype html
html(lang="en")
	include ./header
	body
		+divx('lol')
		form(
			method="POST",
			action="upload",
			enctype="multipart/form-data",
			name="uploadForm"
			)
			label(
				style=size
				)
				input(type="file", placeholder="uploade file", name="file", value="")/
			label
				input(type="submit", value="upload", name="upload")/
		script(src='./js/main.js', type='text/javascript')
			



